.sendEthereum{
    text-align: center;
}
img{
    margin-top: 10px;
    display:inline-block;
    height: 100px;
}
.buttons {
    margin: 10px;
    text-align: center;
}
.buttons > button{
    margin-right: 20px;
}
.amount{
    text-align: center;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}
.confirmSend{
    margin: 10px;
}
.confirmSend > button{
    margin-right: 10px;
}
.address{
    margin: 10px;
}
.sendEther{
    margin-top:20px;
}